<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042550224698-blesnropo4mm1v4983tut35lr13oefr5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042550224698-blesnropo4mm1v4983tut35lr13oefr5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1042550224698-e92bta4cjupka0roien3s0strd91fn6n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmyCuY6zJ3dMjizhBoY_Gy3O_xm3m-cM4</string>
	<key>GCM_SENDER_ID</key>
	<string>1042550224698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cheapsk8te</string>
	<key>PROJECT_ID</key>
	<string>cheapsk8te-597a2</string>
	<key>STORAGE_BUCKET</key>
	<string>cheapsk8te-597a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042550224698:ios:7f830312b98fa5ebd34203</string>
</dict>
</plist>